@using System.Threading.Tasks
@using dotnet_g23.Models.Domain.State
@model dotnet_g23.Models.ViewModels.GroupViewModels.ShowViewModel

@{
    ViewData["Title"] = $"Groep '{ @Model.Group.Name }'";
}

@Html.Partial("_ContainerStart")
    <div class="row">
        <div class="col-lg-12">
            <div class="clearfix">
                <h1 class="f-md-left">@(Model.Group.Closed ? "Gesloten" : "Open") groep '@Model.Group.Name'</h1>
                @if (Model.Group.Context.CurrentState is InitialState || Model.Group.Context.CurrentState is SubmittedState)
                {
                    <a asp-controller="Group" asp-action="Invite" asp-route-id="@Model.Group.GroupId" class="btn btn-primary btn-md f-sm-left f-md-right">Vrijwilligers uitnodigen</a>
                }
            </div>
            <p class="m-t-2">
                De volgende cursisten behoren tot deze groep:
            </p>
            @foreach (var participant in Model.Participants)
            {
                <div class="card">@participant.User.Email</div>
            }
            
            <h1>Uitnodigingen</h1>
            @if (Model.Invitations == null || !Model.Invitations.Any())
            {
                <div class="alert alert-info m-t-1"><i class="fa fa-info-circle"></i> Geen uitnodigingen tot toetreden van deze groep gevonden.</div>
            }
            else
            {
                foreach (var invitation in Model.Invitations)
                {
                    <div class="card">
                        @invitation.Participant.User.Email
                        <span class="label label-default f-right">verstuurd</span>
                    </div>
                }
            }

            @if (Model.Group.Motivation == null)
            {
                <div class="clearfix">
                    <h1 class="f-md-left">Motivatie</h1>
                    <a asp-controller="Motivation" asp-action="Show" asp-route-id="@Model.Group.GroupId" class="btn btn-primary btn-md f-sm-left f-md-right">Motivatie invoeren</a>
                </div>
                <div class="alert alert-info m-t-1"><i class="fa fa-info-circle"></i> U heeft nog geen motivatie ingevoerd.
                </div>
            }
            else
            {
                <h1>Motivatie</h1>
                <div class="card m-t-1">
                    @if (Model.Group.Context.CurrentState is InitialState)
                    {
                        <a asp-controller="Motivation" asp-action="Show" asp-route-id="@Model.Group.GroupId" class="btn btn-primary btn-md f-sm-left f-md-right m-l-3">Motivatie bewerken</a>
                    }
                    else if (Model.Group.Context.CurrentState is SubmittedState)
                    {
                        <span class="label label-info f-sm-left f-md-right m-l-3">Verzonden naar lector</span>
                    }
                    else if (Model.Group.Context.CurrentState is ApprovedState)
                    {
                        <div class="f-sm-left f-md-right m-l-3">
                            <span class="label label-success m-r-1">Goedgekeurd</span>
                            <a asp-controller="Label" asp-action="Index" class="btn btn-secondary btn-md">Label toekennen</a>
                        </div>
                    }
                    else if(Model.Group.Context.CurrentState is GrantedState)
                    {
                        <div class="f-sm-left f-md-right m-l-3">
                            <span class="label label-info m-r-3">Label toegekend</span>
                            <a asp-controller="Group" asp-action="Announce" class="btn btn-secondary btn-md f-sm-left f-md-right">Bekend maken</a>
                        </div>
                    }
                    @if (Model.Group.Motivation?.MotivationText == null)
                    {
                        <em>(leeg)</em>
                    }
                    else
                    {
                        <div class="ellipsize">@Model.Group.Motivation.MotivationText</div>
                    }
                </div>
            }
        </div>
    </div>
@Html.Partial("_ContainerEnd")