@model dotnet_g23.Models.Domain.Group

@{
    ViewData["Title"] = $"Groep '{ @Model.Name }'";
}

<div class="content">
    <div class="container-fluid">
        @Html.Partial("_Messages")
        <div class="row">
            <div class="col-lg-12">
                <div class="clearfix">
                    <h1 class="f-md-left">Groep '@Model.Name'</h1>
                    <a asp-controller="Group" asp-action="Invite" asp-route-id="@Model.GroupId" class="btn btn-primary btn-md f-sm-left f-md-right">Vrijwilligers uitnodigen</a> 
                </div>
                <p class="m-t-2">
                    De volgende cursisten behoren tot deze groep:
                </p>
                @foreach (var participant in Model.Participants)
                {
                    <div class="card">@participant.User?.Email</div>
                }
            </div>
        </div>
    </div>
</div>