@using System.Threading.Tasks
@using dotnet_g23.Models.Domain

@{
    ViewData["Title"] = "Register";
}

@model dotnet_g23.Models.ViewModels.OrganizationViewModels.IndexViewModel

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Mijn organisatie</h1>
                @if (Model.SubscribedOrganization == null)
                {
                    <em>U bent niet in een organisatie ingeschreven</em>
                }
                else
                {
                    <div class="card">
                        <a asp-controller="Group" asp-action="Index">
                            <p>@Model.SubscribedOrganization.Name - @Model.SubscribedOrganization.Location</p>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-t-3">
                <h1>Geregistreerde organisaties</h1>
                @if (Model.Organizations == null)
                {
                    <em>Geen organisatie gevonden</em>
                }
                else
                {
                    foreach (var org in Model.Organizations)
                    {
                        <div class="card">
                            <form asp-controller="Organization" asp-action="Register" method="post" class="form-horizontal">
                                <p>
                                    @org.Name - @org.Location
                                    <input type="hidden" value="@org.OrganizationId" name="organizationId"/>
                                    <input type="submit" value="Registreer" class="btn btn-secondary btn-md f-right"/>
                                </p>
                            </form>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>