@using System.Threading.Tasks
@using dotnet_g23.Models.Domain

@{
    ViewData["Title"] = "Register";
}

@model dotnet_g23.Models.ViewModels.OrganizationViewModels.IndexViewModel

<div class="content">
    <div class="container-fluid">
        @Html.Partial("_Messages")
        <div class="row">
            <div class="col-lg-12">
                <h1>Mijn organisatie</h1>
                @if (Model.SubscribedOrganization == null) {
                    <em>U bent niet in een organisatie ingeschreven</em>
                }
                else {
                    <div class="card">
                        <p>
                            @Model.SubscribedOrganization.Name (@Model.SubscribedOrganization.Location)
                            <a asp-controller="Group" asp-action="Index" class="btn btn-primary btn-md f-right">Beheren</a>
                        </p>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-t-3">
                <h1>Geregistreerde organisaties</h1>
                @if (Model.Organizations == null || !Model.Organizations.Any()) {
                    <em>Geen organisaties gevonden</em>
                }
                else {
                    <form asp-controller="Organization" asp-action="Index" method="get" class="form-horizontal">
                        <input type="text" placeholder="Naam of locatie" name="query" id="query" />
                        <input type="submit" value="Zoek" class="btn btn-secondary btn-md f-right" />
                    </form>
                        <br />
                    if (Model.Organizations == null || !Model.Organizations.Any()) {
                        <em>Geen organisaties gevonden</em>
                    }
                    else {
                        foreach (var org in Model.Organizations) {
                            <div class="card">
                                <form asp-controller="Organization" asp-action="Register" method="post" class="form-horizontal">
                                    <p>
                                        @org.Name (@org.Location)
                                        <input type="hidden" value="@org.OrganizationId" name="organizationId" />
                                        <input type="submit" value="Registreren" class="btn btn-secondary btn-md f-right" />
                                    </p>
                                </form>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>