@if (TempData["error"] != null)
{
    <div class="row m-b-1">
        <div class="col-lg-12">
            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> <strong>Fout: </strong>@TempData["error"]</div>
        </div>
    </div>
}
@if (TempData["info"] != null)
{
    <div class="row m-b-1">
        <div class="col-lg-12">
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> @TempData["info"]</div>
        </div>
    </div>
}
@if (TempData["success"] != null)
{
    <div class="row m-b-1">
        <div class="col-lg-12">
            @if (TempData["linkText"] != null)
            {
                <div class="alert alert-success">
                    <i class="fa fa-check-circle"></i>
                    @TempData["success"]
                    <a asp-controller='@TempData["linkController"]' asp-action='@TempData["linkAction"]' asp-route-id='@TempData["linkId"]'>
                        @TempData["linkText"]
                    </a>
                </div>
            }
            else
            {
                <div class="alert alert-success"><i class="fa fa-check-circle"></i> @TempData["success"]</div>
            }

        </div>
    </div>
}