@using System.Threading.Tasks
@using dotnet_g23.Models.Domain
@using dotnet_g23.Models.Domain.State

@{
    ViewData["Title"] = "Label toekennen";
}
@model dotnet_g23.Models.ViewModels.LabelViewModels.ShowViewModel

<div class="organization">
    <div class="oheader p-y-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <img src="data:image/png;base64,@Convert.ToBase64String(@Model.Company.Logo)" class="f-sm-right companylogo"/>
                        <h1>
                            @Model.Company.Name
                        </h1>
                                <p class="description">@Model.Company.Description</p>
                                <p>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    @Model.Company.Address
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    @Model.Company.Email
                                </p>
                                <div class="socialmedia">
                                    <a href="@Model.Company.Website" target="_blank">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                    </a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="obody">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="container-fluid">
                            @Html.Partial("_Messages")
                
                            <div class="row">
                                <div class="col-lg-12 m-t-3">
                                    
                                    @if (Model.Company.Label != null)
                                    {
                                        <center>
                                            <img src="~/images/label.png" alt="Label" class="m-b-3" />
                                        </center>

                                        <p class="heading">Goed Bezig-label toegekend</p>
                                        <p>
                                            Er werd een Goed Bezig-label toegekend aan deze organisatie door de GB organisatie '@Model.Group.Organization.Name'
                                        </p>
                                        <p>
                                            @Model.Group.Motivation.MotivationText
                                        </p>
                                    }
                                    @if(Model.Group != null && Model.Group.Context.CurrentState is ApprovedState) {
                                        <div class="alert alert-info m-y-3">
                                            <i class="fa fa-info-circle"></i>
                                            U kunt de bevestiging van het Goed Bezig label doorsturen naar de volgende contactpersonen.
                                        </div>
                                    }
                                    @if (Model.Contacts == null || !Model.Contacts.Any())
                                    {
                                        <div class="alert alert-info m-t-1"><i class="fa fa-info-circle"></i> Geen contacten gevonden.</div>
                                    }
                                    @foreach (var contact in Model.Contacts)
                                    {
                                        <div class="card contact">
                                            <form asp-controller="Label" asp-action="Send" asp-route-companyId="@Model.Company.CompanyId" asp-route-contactId="@contact.ContactId" method="post">
                                                <i class="fa fa-user" aria-hidden="true"></i> 
                                                @contact.Title @contact.FirstName @contact.LastName
                                                <br/>
                                                <i class="fa fa-briefcase" aria-hidden="true"></i> @contact.Function
                                                <br/>
                                                <small>@contact.Email</small>
                                                @if(Model.Group != null && Model.Group.Context.CurrentState is ApprovedState)
                                                {
                                                    <a href="#" onclick="$(this).closest('form')[0].submit();" class="btn btn-primary btn-md f-sm-right">Verzenden</a>
                                                }else{
                                                    <a href="mailto:@contact.Email" class="btn btn-primary btn-md f-sm-right">Contact</a>
                                                }
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>